.editor-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  > div {
    height: 100%;
    .bytemd {
      height: 100%;
      .bytemd-tippy-right:last-child {
        display: none;
      }
      .bytemd-editor .CodeMirror .CodeMirror-lines,
      .bytemd-preview .markdown-body {
        max-width: unset;
      }
    }
  }
}
